.frame-bottom{
    margin-top: -200px;
    float: right;
}

.content{
    margin-left: 25px;
    margin-top: -200px;
    margin-right: 25px;
}

.context{
    margin: auto 10px auto 10px;
}

.subtitle{
    background: url("images/subtitle.jpg") no-repeat;
    color: #ffffff;
    margin: 40px auto 20px auto;
}

.subtitle img{
    width: 100%;
}

.subtitle h3{
    text-align: center;
    margin-top: -43px;
}

#img1{
    width: 30%;
}

#img2{
    width: 30%;
}

#img3{
    width: 30%;
}

.images{
    width: 30%;
    margin: auto;
}

.image{
    text-align: center;
}

.image img{
    width: 70%;
}

.comment{
    margin:auto;
    text-align: center;
    color: #888888;
}