.frame-bottom{
    margin-top: -200px;
    margin-right: 0;
}

.content{
    margin-left: 25px;
    margin-top: -200px;
    margin-right: 25px;
}

.subtitle{
    background: url("images/subtitle.jpg") no-repeat;
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}