.frame-bottom{
    margin-top: -200px;
    float: right;
}

.content{
    margin-left: 25px;
    margin-top: -200px;
    margin-right: 25px;
    overflow: hidden;
}

.content p{
    clear: both;
}

.subtitle{
    background: url("images/subtitle.jpg") no-repeat;
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

#img1{
    width: 30%;
}

#img2{
    width: 30%;
}

#img3{
    width: 30%;
}